<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IListService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.32.5.80/GRM/ListService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IListService" contract="ServiceReference.IListService"
        name="BasicHttpBinding_IListService" />
    </client>
  </system.serviceModel>
</configuration>